/* .login-screen {
    margin-top: 15px;
} */
$backgroundColor: #17a2b8;
.login-screen {
    .login-form{
        box-shadow: 0 0 15px grey;
        text-align: center;
        border-radius: 5px;
        .login-header{
            margin-top: 15px;
            padding: 5% 5% 5% 5%;
            background-color: #17a2b8;
            color: white;
        }
        .login-detail{
            margin-top: 5px;
            padding: 0% 10% 5% 10%;
        }
    }
}
// .login-screen .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before{
//     background-color: #17a2b8 !important;
// }

.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #17a2b8 !important
}
